.preview{
	/* scroll horizontally as needed */
	overflow-x: auto;

	/* center contents */
	text-align: center;
}
.length_text{
	font-size: 20px;
}

.y-axis line {
	opacity:.2;
}
.y-axis path {
	display:none;
}
.line {
	fill: none;
	stroke-width: 1.5px;
	opacity:.75;
}
.overlay {
	fill: none;
	pointer-events: all;
}

.hoverCircle {
	opacity: .75;
}

.year_box{
	background-color: #DCDCDC;
}

.bullet_chart_box{
	background-color: #DCDCDC;
}

.gender_box{
	background-color: #DCDCDC;
}

.user_type_box{
	background-color: #DCDCDC;
}

.time_series{
	background-color: #DCDCDC;
}

.task_frequency{
	background-color: #DCDCDC;
}

.db_print_box{
	background-color: #DCDCDC;
}
#selectbox{
  display: none;
}

.line {
  fill: none;
  stroke: #fc8d62;
  stroke-width: 3px;
}

.table_scroll {
	height: 300px;
	overflow-y: auto;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #ccc; }
.bullet .range.s1 { fill: #fc8d62; }
.bullet .range.s2 { fill: #98AFC7; }
.bullet .measure.s0 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }


#play-button {
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

#play-button:hover {
  background-color: #696969;
}

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#inactive_participants_table, .table_css{
	font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#inactive_participants_table td, #inactive_participants_table th, .table_css td, .table_css th {
  border: 1px solid #ddd;
}

#inactive_participants_table tr:nth-child(even), .table_css tr:nth-child(even)
{background-color: #f2f2f2;}

#inactive_participants_table tr:hover, .table_css tr:hover
{
	background-color: #ddd;
}

#inactive_participants_table th , .table_css th{
  text-align: left;
  background-color: #000080;
  color: white;
}
