{% extends "layout.html" %}

{% block title %}
About the app
{% endblock %} {% block main %}

<section id="download">
<h1>{{about_app_csv["h11"]}}</h1>
<ul>
  <li>{{about_app_csv["pp0"]}}</li>
  <li>{{about_app_csv["pp1"]|safe}}</li>
  <li>{{about_app_csv["pp2"]|safe}}</li>
  <li>{{about_app_csv["pp3"]|safe}}</li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a target=_blank_  href="https://play.google.com/store/apps/details?id=com.quantactions.tapcounter"><img src="../static/images/logo_app.png" alt="Logo quantactions"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      {% if session.language == "dutch" %}
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IUTOEsBE0iU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      {% else %}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bmEJ9xKRrDE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      {% endif %}
    </div>
  </div>
</div>

</section>

<section id="signed_up">
<h1>{{about_app_csv["h12"]}}</h1>
<p>{{about_app_csv["p2"]}}</p>
</section>

<section id="calibration">
<h1>{{about_app_csv["h13"]}}</h1>
<p>{{about_app_csv["p3"]}}</p>
</section>

<section id="participation_id">
<h1>{{about_app_csv["h14"]}}</h1>
<p>{{about_app_csv["li1"]|safe() }}</p>
<br>
<p>{{about_app_csv["li2"]}}</p><img style="height:29px; margin:0;" src="../static/images/menu_tapcounterapp.png">
<br>
<p>{{about_app_csv["li3"]}}</p><img style="height:29px; margin:0;" src="../static/images/participate-beta_tapcounterapp.png">
<br>
<p>{{about_app_csv["li4"]}}</p>
<br><br>
<div class="row">
  <div class="col-lg">
    {% if session.language == "dutch" %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MtoBkLJIgBI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% else %}
    <div class="embed-responsive embed-responsive-9by9">
        <img src="../static/images/participation_id.png" alt="participation id instructions" class="email2" />
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vZFWDq5E8oo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endif %}
  </div>
</div>
</section>

<section id="working_app">
<h1>{{about_app_csv["h15"]}}</h1>
<p>{{about_app_csv["p5"]}}</p>
<img src="../static/images/working_app.png" alt="working app instructions" class="working_app">
<h1>{{about_app_csv["h16"]}}</h1>
<p>{{about_app_csv["p6"]}}</p>
</section>

<section id="email1">
<h1>{{about_app_csv["h17"]}}</h1>
<p>{{about_app_csv["p7"]}}</p>
<img src="../static/images/manual_sync.png" alt="manual sync instructions" class="manual_sync" />
<br>
</section>

<section id="email2">
<h1>{{about_app_csv["h18"]}}</h1>
<p>{{about_app_csv["p8"]}}</p>
<ul>
  <li>{{about_app_csv["li_app_1"]}}</li>
  <li>{{about_app_csv["li_app_2"]}}</li>
  <ul>
    <li><p>{{about_app_csv["p8a"]}}</p></li>
  </ul>
</ul>
<br><br>
<div class="row">
  <div class="col-lg">
    {% if session.language == "dutch" %}
    <img src="../static/images/app_id_nl.png" alt="app id instructions" class="email2" />
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W_sxkLpaU5g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% else %}
    <img src="../static/images/app_id.png" alt="app id instructions" class="email2" />
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R2N9dPDehe0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endif %}
  </div>
</div>
<br>
</section>

<section id="email3">
<h1>{{about_app_csv["h19"]}}</h1>
<p>{{about_app_csv["p9"]}}</p>
{% if session.language == "dutch" %}
<img src="../static/images/reinstate_1_nl.png" alt="reinstate instructions" class="reinstate_1_nl">
{% else%}
<img src="../static/images/reinstate_1.png" alt="reinstate instructions" class="reinstate_1">
{% endif %}
<p>{{about_app_csv["p10"]}}</p>

{% if session.language == "dutch" %}
<img src="../static/images/reinstate_2_nl.png" alt="reinstate instructions" class="reinstate_2_nl">
{% else%}
<img src="../static/images/reinstate_2.png" alt="reinstate instructions" class="reinstate_2">
{% endif %}
<p>{{about_app_csv["p11"]}}</p>
</section>

<section id="email4">
<h1>{{about_app_csv["h20"]}}</h1>
<p>{{about_app_csv["p12"]}}</p>
{% if session.language == "dutch" %}
<img src="../static/images/usage_access_1_nl.png" alt="usage access instructions" class="usage_acces_1_nl">
{% else%}
<img src="../static/images/usage_access_1.png" alt="usage access instructions" class="usage_acces_1">
{% endif %}

<p>{{about_app_csv["p13"]}}</p>
{% if session.language == "dutch" %}
<img src="../static/images/usage_access_2_nl.png" alt="usage access instructions" class="usage_acces_2_nl">
{% else%}
<img src="../static/images/usage_access_2.png" alt="usage access instructions" class="usage_acces_2">
{% endif %}

</section>

<section id="data_app">
<h1>{{about_app_csv["h21"]}}</h1>
<ul>
  <li>{{about_app_csv["li_data_app_1"]}}</li>
  <li>{{about_app_csv["li_data_app_2"]}}</li>
  <li>{{about_app_csv["li_data_app_3"]}}</li>
  <li>{{about_app_csv["li_data_app_4"]}}</li>
  <li>{{about_app_csv["li_data_app_5"]}}</li>
  <li>{{about_app_csv["li_data_app_6"]}}</li>
  <li>{{about_app_csv["li_data_app_7"]}}</li>
</ul>
</section>

<section id="data_plan">
<h1>{{about_app_csv["h22"]}}</h1>
<p>{{about_app_csv["p15"]}}</p>
</section>

<section id="organization">
<h1>{{about_app_csv["h23"]}}</h1>
<p>{{about_app_csv["p16"]|safe()}}</p>
</section>

<section id="stop_app">
<h1>{{about_app_csv["h24"]}}</h1>
<p>{{about_app_csv["p17"]}}</p>
<img src="../static/images/stop.png" alt="stop app instructions" class="stop_app">
</section>
{% endblock %}
