{% extends "layout.html" %}

{% block title %}
About the study
{% endblock %} {% block main %}

<section>
<p>{{about_study_csv["p1"]|safe()}}</p>
<br><br>
<p>{{about_study_csv["p2"]|safe()}}</p>
<br><br>
<p>{{about_study_csv["p3"]|safe()}}</p>
<br><br>
<p>{{about_study_csv["p9"]|safe()}} </p>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a target=_blank_ href="https://veluxstiftung.ch/"><img src="../static/images/velux.png" alt="Logo VELUX" class="logo_about_study_velux"></a>
    </div>
    <div class="col-sm">
      <a target=_blank_ href="https://www.universiteitleiden.nl/en/social-behavioural-sciences/psychology"><img src="../static/images/leiden_logo.png" alt="Logo Leiden University" class="logo_about_study_leiden"></a>
    </div>
  </div>
</div>
{% endblock %}
