{% extends "layout.html" %}

{% block title %}
About the study
{% endblock %} {% block main %}

<h1>{{about_study_csv["h11"]}}</h1>
<p>{{about_study_csv["p1"]}}
</p>
<p>{{about_study_csv["p2"]}}</p>,<p>{{about_study_csv["p3"]}}</p>
<a href="https://www.arkoghosh.com/"> CODELAB</a>,
<a href="https://www.universiteitleiden.nl/en/social-behavioural-sciences/psychology">Leiden University</a>
<p>{{about_study_csv["p4"]}}</p>
<a href="https://veluxstiftung.ch/">VELUX</a>
<p>{{about_study_csv["p5"]}}
</p>, <p>{{about_study_csv["p6"]}}
</p>

<br><br>
<p>{{about_study_csv["p7"]}} </p>
<a href="/for_participant">{{about_study_csv["link_for_participant"]}}</a>
<p>{{about_study_csv["p8"]}} </p>
<a href="/register">{{about_study_csv["link_register"]}}</a>
<br><br>
<p>{{about_study_csv["p9"]}} </p>

<img src="../static/images/velux.png" alt="Logo VELUX" class="logo_about_study_velux">
<object class="logo_about_study_leiden" data="../static/images/leiden.svg" type="image/svg+xml"></object>
{% endblock %}
