{% extends "layout.html" %}

{% block title %}
Account
{% endblock %}

{% block main %}
<!-- Show the user their account information-->
<div class="form-group row">
  <label for="static_username" class="col-sm-2 col-form-label">{{account_csv["label1"]}}</label>
  <div class="col-6">
    {{username}}
  </div>
  </div>
  {% if session.participation_id %}
  <section>
  <h1>{{ account_csv["reconnect_p_id"] }}</h1>
  <p>{{ account_csv["p_id_info"] }}</p>
  <br></br>
  <p><b>{{ layout["method_1"] }}</b></p>
  <br>
  {% if session.language == "dutch" %}
  <p>{{ account_csv["instructions_vid"] }}<a href="https://youtu.be/MtoBkLJIgBI" target="_blank">{{ account_csv["here"] }}</a></p>
  {% else %}
  <p>{{ account_csv["instructions_vid"] }}<a href="https://youtu.be/vZFWDq5E8oo" target="_blank">{{ account_csv["here"] }}</a></p>
  {% endif %}
  <br><br>
  <p>{{ layout["info2a"] }}</p><img style="height:29px; margin:0;" src="../static/images/menu_tapcounterapp.png">.
  <br>
  <p>{{ layout["info3a"] }}</p><img style="height:29px; margin:0;" src="../static/images/participate-beta_tapcounterapp.png">.
  <br>
  <p>{{ layout["info4a"] }}</p>
  <br>
  <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=https://www.quantactions.com/app/participate?partId={{session.participation_id}}" alt="barcode participation id"></img>
  <br></br>
  <p><b>{{ layout["method_2"] }}</b></p>
  <br>
  {% if session.language == "dutch" %}
  <p>{{ account_csv["instructions_vid"] }}<a  href="https://youtu.be/lr0OkoRsUcY" target="_blank">{{ account_csv["here"] }}</a></p>
  {% else %}
  <p>{{ account_csv["instructions_vid"] }}<a href="https://youtu.be/gogLvLy4Uno"target="_blank">{{ account_csv["here"] }}</a></p>
  {% endif %}
  <br><br>
  <p>{{ layout["info1"] }}</p>
  <p class="p_id_p"> <input class="js-copytextarea p_id" readonly value={{ session.participation_id }} /></p>
  <p>{{ layout["info3"] }}</p>,<p>{{ layout["info4"] }}<object type="image/svg+xml" data="../static/images/plus.svg" width="30" height="30"></object></p>
  <br>
  <p>{{ layout["info5"] }}<object type="image/svg+xml" data="../static/images/participate.svg" width="30" height="30"></object></p>
  <br>
  <p>{{ layout["info6"] }} </p>
  <br>
  <button class="js-textareacopybtn btn btn-primary">{{ layout["copy"] }}</button>
  <br><br>
  </section>
  {% endif %}
  <section>
  <h1>{{account_csv["change_pas"]}}</h1>
  <!-- Form, allow user to change password -->
  <form action="/account" method="post" class = "needs-validation" novalidate>
    <button id = "demo" type="button" class="btn btn-primary">{{account_csv["button1"]}}</button>

    <div id = "change">
      <div class="form-group">
        <input class="form-control" id="old_password" name="old_password" placeholder="{{account_csv["placeholder1"]}}"
        type="password" required/>
        <input class="form-control" id="password" name="password" placeholder="{{account_csv["placeholder2"]}}" type="password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required/>
        <input class="form-control" name="confirmation" placeholder="{{account_csv["placeholder3"]}}" type="password" required/>
      </div>

      <div id = "message_number" class="invalid">
        {{account_csv["message_number"]}}
      </div>
      <div id = "message_length" class="invalid" >
        {{account_csv["message_length"]}}
      </div>
      <button id = "submit" class="btn btn-primary" type="submit">{{account_csv["button2"]}}</button>
    </div>
  </form>
  </section>

  <section>
  <h1>{{account_csv["withdraw2"]}}</h1>
  <!-- Form, allow user to withdraw from the study -->
  <form action="/withdrawn" method="post" class = "needs-validation" novalidate>
    <button id = "withdraw" class="btn btn-primary" type="submit">{{account_csv["withdraw1"]}}</button>
  </form>
  </section>

  <!--This script was written with help from https://www.w3schools.com/howto/howto_js_password_validation.asp -->
  <script>
    var password = document.getElementById("password");
    var letter = document.getElementById("message_letter");
    var capital = document.getElementById("message_capital");
    var number = document.getElementById("message_number");
    var length = document.getElementById("message_length");
    document.getElementById("demo").onclick = function()
    {
      change_password();
    };
    function change_password()
    {
      var change = document.getElementById("change");
      change.style.visibility = "visible";
    }
    // this starts as soon as user types something in
    password.onkeyup = function()
    {
        var numbers = /[0-9]/g;
      if(password.value.match(numbers))
      {
        number.classList.remove("invalid");
        number.classList.add("valid");
        document.getElementById("message_number").style.display = "none";
      }
      else
      {
        number.classList.remove("valid");
        number.classList.add("invalid");
        document.getElementById("message_number").style.display = "block";
      }
      // Validate length
      if(password.value.length >= 5)
      {
        length.classList.remove("invalid");
        length.classList.add("valid");
        document.getElementById("message_length").style.display = "none";
      }
      else
      {
        length.classList.remove("valid");
        length.classList.add("invalid");
        document.getElementById("message_length").style.display = "block";
      }
    }
  </script>
  {% endblock %}
