{% extends "layout.html" %}

{% block title %}
    Forgot password
{% endblock %}

{% block main %}
<p>{{ forgot_password_csv['p1'] }}</p>
<form class = "forgot_password" action="/forgot_password" method="post">
  <div class="form-group">
      <input class="form-control" name="email" placeholder="{{ forgot_password_csv['placeholder'] }}" type="text"/>
  </div>
    <button class="btn btn-primary" type="submit">{{ forgot_password_csv['button']  }}</button>
</form>

{% endblock %}
