{% extends "layout.html" %}

{% block title %}
Home
{% endblock %} {% block main %}
<!-- javascript links -->
<script src="/static/js/bar_chart.js"></script>
<!-- D3 links -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/static/js/topojson.js"></script>
<!-- css script -->
<link href="/static/css/home.css" rel="stylesheet"/>


<!-- Define a macro that will contain the card, the inputs are
the image of the task and its alt, the title and description of the task,
the route to the task and the text in the button. -->
{% macro card(img, alt, title, text, link, button_text) -%}
<div class="card " style="width: 18rem;">
  <img src="{{ img }}" class="card-img-top" alt="{{ alt }}">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ text }}</p>
    <a href="{{link}}" target="_blank" class="btn btn-primary">{{ button_text }}</a>
  </div>
</div>
{%- endmacro %}

<h1>{{ home_csv["h11"] }}</h1>

<!-- if they have unlocked or uncompleted tasks then show them this div
if its false the div is not show there are no recomendations-->
{% if recomendation %}
<p> {{ home_csv["p1"] }} </p>
{{ card(img, alt, title, text, link, button_text) }}
<br><br><br><br>
<p> {{ home_csv["p2"] }}</p>
<a href="/" class="btn btn-primary">{{ home_csv["button1"] }}</a>
<br><br><br><br>
{% endif %}


<!-- Show the barchart which keeps track of the money the user earned so far-->
{% if user_type %}
<div class="price" id="price" value="{{price}}" name="price"></div>
<div id=barChart></div>
<form action="/collection" method="post">
<button id="collection" class="btn btn-primary" type="submit">{{ home_csv["button2"] }}</button>
</form>
{% endif %}
{% endblock %}
