{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e77d5f9fac6be0012fa5ea6&product=sticky-share-buttons&cms=website' async='async'></script>

<h1>{{ login_csv['h11'] }}</h1>
<br><br>
    <form class = "login" action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="{{ login_csv['input1'] }}" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="{{ login_csv['input2'] }}" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">{{ login_csv['button1'] }}</button>
    </form>
    <!-- forgot my password -->
    <p> {{ login_csv["forgot_1"] }}, {{ login_csv["forgot_2"]|safe() }}</p>

  <br>
  <p>{{ login_csv['p1']|safe() }}</p>
  <br><br>
  <p>{{ login_csv['p2']|safe() }}</p>

{% endblock %}
