{% extends "layout.html" %}

{% block title %}
Register
{% endblock %} {% block main %}

<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<!-- source: https://getbootstrap.com/docs/4.0/components/forms/ -->
<form action="/register" method="post" class="needs-validation">
  <div class="form-group">
    <!-- Userame -->
    <label class="control-label" for="username">Username</label>
    <input class="form-control" id="username" name="username" placeholder="Username" type="text" required />
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      One or more of the following requirements are not met <br>
      must be available <br>
      must not contain a space</br>
      must be longer than 5 characters
    </div>
  </div>
  <div class="form-group">
    <!-- Userame -->
    <label class="control-label" for="email">Email</label>
    <input class="form-control" id="email" name="email" placeholder="janedoe@mail.com" type="text" required />
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please fill in an email
    </div>
  </div>
  <!-- Gender -->
  <div class="form-drop">
    <label class="control-label" for="gender">Gender</label>
    <!-- mb3 == default size , m=margin, b=margin-bottom, 3 is size of 1-->
    <select class="form-control custom-select custom-select-lg mb-3" id="gender" name="gender" required>
      <option selected disabled value="">Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please choose a value
    </div>
  </div>
  <div class="form-group">
    <!-- Date input -->
    <label class="control-label" for="date">Birth date</label>
    <input class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" type="text" required/>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please choose a value
    </div>
  </div>
  <!-- Password -->
  <div class="form-group">
    <label class="control-label" for="password">Password</label>
    <input class="form-control" id="password" name="password" placeholder="Password" type="password" required/>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please fill in a password
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" name="confirmation" placeholder="Repeat Password" type="password" required/>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please fill in a password
    </div>
  </div>

  <div id="message_letter" class="invalid-feedback">
    Password must contain a <b>lowercase</b> letter
  </div>
  <div id="message_capital" class="invalid-feedback">
    Password must contain a <b>capital</b> letter
  </div>
  <div id="message_number" class="invalid-feedback">
    Password must contain a <b>number</b>
  </div>
  <div id="message_length" class="invalid-feedback">
    Password must contain minimum <b>5 characters</b>
  </div>
  <!-- Live in the Netherlands checkbox -->
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="money" name="money">
    <label class="form-check-label" for="exampleCheck1">I want to participate for monetary compensation</label>
  </div>
  <!-- City -->
  <div class="form-group" id="collect_possible_id">
    <input  class="form-check-input" type="checkbox" id="collect_possible" name="collect_possible">
    <label class="form-check-label" for="money">It is possible for me to come to Leiden university to collect payemnt</label>
    <div class="invalid-feedback d-block">
      Please note you are only able to participate for money if you are able to come collect it
    </div>
  </div>


  <button id="submit" class="btn btn-primary" type="submit">Register</button>
</form>

<!-- load in javascript rules for register.html -->
<!-- NOTE it must be under the form otherwise it doesnt recognize what the elements are -->
<script src="/static/js/register.js"></script>


{% endblock %}
