
{% extends "layout.html" %}

{% block title %}
reminder system
{% endblock %} {% block main %}

<form action="/unsubscribe_reminder" method="post" class="needs-validation">
  <h1> {{reminder_csv["unsubscribe_h1"]}} </h1>
  <p1>{{ reminder_csv['p12'] }} </p1>
  <input class="form-control" id="unsubsribe_email" name="unsubsribe_email" placeholder="{{ reminder_csv['placeholder_email'] }}" type="text" required />
  <button id="unsubscribe" class="btn btn-primary" type="submit">{{ reminder_csv['unsubscribe'] }}</button>
</form>
{% endblock %}
